{% extends 'base.html' %}

{% block content %}



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Candidate List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>

    <header>
      <div class="left-side">
        <a href="#"> <img src="{% static 'img/logo.jpg' %}" alt=""> </a>
      </div>
      <div class="right-side">
        <div class="nav-link-wrapper"> <a href="{% url 'company_home' %}">Home</a> </div>
        <div class="nav-link-wrapper"> <a href="{% url 'job_post' %}">Post a Job</a> </div>
        <div class="nav-link-wrapper"><a href="{% url 'all_candidate' %}">Candidates</a> </div>
        
      </div>
    </header>

<hr>

  <div style="display:flex; align-items:center; margin-bottom: 20px;">
    {% if candidate_data.profile_photo %}
      <img src="{{ candidate_data.profile_photo.url }}" height="150" width="150" style="border-radius: 50%; margin-right: 20px;">
    {% endif %}
    <div>
      <h3 style="margin: 0;">{{ candidate_data.first_name }} {{ candidate_data.last_name }}</h3>
      <h4 style="margin: 0;">{{candidate_data.qualification}}</h4> 
      <p style="margin: 0;">{{candidate_data.candidate_address}}</p>
      <p style="margin: 0;">{{ candidate_data.phone }}</p>
      <p style="margin: 0;">{{ candidate_data.email }}</p>
  </div>
</div>



<hr>        
 
{% endblock content %}




<script src = "{% static 'js/script.js' %}">
</script>
</body>
</html>