{% extends 'base.html' %}

{% block content %}






<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Job Details</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>

    <header>
      <div class="left-side">
        <a href="#"> <img src="{% static 'img/logo.jpg' %}" alt=""> </a>
      </div>
      <div class="right-side">
        <div class="nav-link-wrapper"> <a href="{% url 'company_home' %}">Home</a> </div>
        <div class="nav-link-wrapper"> <a href="{% url 'job_post' %}">Post a Job</a> </div>
        <div class="nav-link-wrapper"><a href="{% url 'all_candidate' %}">Candidates</a> </div>
        
      </div>
    </header>

<hr>


{% for job in job %}


<a href="{% url 'applicants_list' job.id %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); transition: background-color 0.3s ease-in-out; font-weight: bold;">
  Applications</a> 
 <h2>{{job.job_title}}</h2> <br>  
<h3>Job Description:</h3>{{job.job_description}}
<h3>Industry:</h3>{{job.industry}} <br> <br>
<h3>Location:</h3>{{job.location}} <br> <br>
<h3>Position:</h3>{{job.position}} <br> <br>
<h3>Salary:</h3>{{job.salary}} <br> <br>
<h3>Qualification:</h3>{{job.education_requirment}}  <br> <br>
{{job.experience_requirement}} <br> <br>
<h3>Skills:</h3>{{job.skills_required}} <br> <br>
<a href="{% url 'job_delete' job.id %}">Delete</a>
<hr> <hr>


{% endfor %}

{% endblock content %}




<script src = "{% static 'js/script.js' %}">
</script>
</body>
</html>